@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}


.login {
  width: 27em;
  height: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  position: relative;
  z-index: 99;
}
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding: 17px 10px;
  }

  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    background-color: #DEC088;
    width: 100%;
    position: absolute;
    right: -34%;
    border-radius: 6px;
    z-index: 1;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);
  }
     .right-side.right {
      right: -40%;
      align-items: flex-end;
     }
     .right-side.right:hover {
        right: -45%;
      }

    .right-side.left {
      right: 40%;
      align-items: flex-start;
    }

    .right-side.left:hover {
        right: 45%;
      }


    .text {
      font-size: 21px;
      font-weight: 500;
      color: #fff;
      margin-right: 3em;
      margin-left: 3em;
    }

.btn {
  font-size: 21px;
  padding: 10px 20px;
  border: 0;
  background-color: #DEC088;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
  .btn:hover {
    background-color: #DEC088;
  }
  .btn:focus {
    outline: none;
  }
body{
  background-image: url('https://ae01.alicdn.com/kf/HTB1dtX6LYvpK1RjSZPiq6zmwXXaP/Newborn-Baby-Party-Theme-Photography-Background-Flower-Wall-Backdrop-Wedding-Photo-Studio-Vinyl-tlo-fotograficzne.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
	height: 100vh;
}

.logo{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 /* font-size: 3rem; */
 margin: 0 !important;
 line-height: 1;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0px !important;
 background-color: white;
 
}
.nav-content{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 3rem;
 margin: 0;
 line-height: 1;
 padding: 0px;
 background-color: white;
}

a{
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.logo p{
font-size: 20px;
}

.logo span{
  text-decoration: line-through;
}

.nav-brand{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  font-size: 30px !important;
}

.nav-item{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
}

.nav-bar{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.button{
  background-color: #DEC088; 
  color: white; 
  width: 100px;
  border: none; 
  padding: 10px; 
  padding-left: 0px;
  border-radius: 3px;
  font-size: 18px; 
  font-weight: bold; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer{
  padding: 0.5rem;
  background-color: white;
  position: fixed;
  font-size: 15px;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer p{
  margin-bottom: 0px;
}
.footer-note{
  font-size: 20px;
}

.line-through{
  text-decoration: line-through;
}
.card-container{
  background-color: #fff;
  box-shadow: 0px 0px 15px -5px;
	transition: 0.3s;
	animation: ease-in;
	border-radius: 3%;
	overflow: hidden;
	width: 25vw;
	height: 23vw;
	margin: 10px;
	display: inline-block;
  flex-wrap: wrap;
}

.card-body{
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 700;
}

.card-paragraph{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
}

.bridesmaids-container{
  background-image: url("https://www.refinery29.com/images/10461924.jpg?crop=40%3A21");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw; 
  height: 100vh;
}

.bridesmaids-content{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  background-color: #fff;
  width: 50%;
  margin: 0px;
  padding: 0;
}
.wedding-container{
  background-image: url("https://media.xogrp.com/images/7743652e-c191-4210-beed-a3bca03a699f");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw; 
  height: 100vh;
}

.wedding-content{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  background-color: #fff;
  width: 60%;
  margin: 0px;
  padding: 0;
}
.venue-container{
  background-image: url("https://rrgrove.com/wp-content/uploads/2020/12/grove-interior-reception-slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw; 
  height: 100vh;
}

.venue-content{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  background-color: #fff;
  width: 50%;
  margin: 0px;
  padding: 0;
}

.todo-strike {
  text-decoration: line-through;
}

.bridesmaids-container h1 {
  text-align: center;
  font-family: Permanant marker, cursive;
  font-weight: 800;
  font-size: 50px;
  color: white
}

.venue-container h1 {
  text-align: center;
  font-family: Permanant marker, cursive;
  font-weight: 900;
  font-size: 50px;
  color: white
}

.wedding-container h1 {
  text-align: center;
  font-family: Permanant marker, cursive;
  font-weight: 800;
  font-size: 50px;
  color: black
}
/* 
.checklist-container{
  background-image: url("https://asset.bloomnation.com/c_limit,d_vendor:global:catalog:product:image.png,f_auto,fl_preserve_transparency,q_auto,w_1005/v1611152717/vendor/3940/catalog/product/2/0/20190529081755_file_5ceee8f3bd86b_5ceee9216066e.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw; 
  height: 100vh;
} */

@media only screen and (min-width: 1200px) {
	.card__container {
	  width: 84%;
	}
  }
  
  @media only screen and (min-width: 1024px) {
	.cards__items {
	  display: flex;
	}
  }
  
  @media only screen and (max-width: 1024px) {
	.cards__item {
	  margin-bottom: 2rem;
	}
  }
